body {
    background: #2c3e50;
    color: white;
    font-size: 36px;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    align-content: center;
    justify-content: center;
    color: #fff;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}


a:link {
    text-decoration: none;
    color: #12c2a8;
}

a:hover {
    color: #1aedcd;
    text-decoration: underline;
}

a:visited {
    color: #1aedcd;
    text-decoration: none;
}

.divider {
    width: 100%;
    margin-top: 20px;
    border-color: grey;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer img {
    filter: invert(1);
    height: 40px;
}

/* Small screens */
@media only screen and (max-width: 800px) {
    body {
        font-size: 14px;
        justify-content: center;
    }
    .img-main {
        max-height: 300px;
        max-width: 300px;
        padding-left: 8%;
        order: 2;
    }
    .footer {
        margin-top: 30px;
    }
    .footer a {
        font-size: 20px;
    }
    .footer img {
        height: 30px;
        width: auto;
    }

}
